<!DOCTYPE html>
<html>
	<head>
		<title>Aling Nena's Online Sari-Sari Store</title>
		<link href="bootstrap.min.css" rel="stylesheet">
		<link href="style.css" rel="stylesheet">
	</head>
	<body>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Aling Nena's</a><!-- this is where you set the navigation title -->
        </div>
        <div class="collapse navbar-collapse"><!-- collapse allows for this navbar to be used in mobile devices -->
          <ul class="nav navbar-nav"><!-- this is the list of navigation options in your navbar -->
			<li><a href="/">Home</a></li>
            <li class="active"><a href="/about.erb">About Us</a></li>
            <li><a href="products.erb">Products</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
	<br  /><br  /><br  />
	<img src="sample2.jpg" />
	<br /><br/ >
	<div class="col-md-6" align="justify" style="font-family:arial;color:black;font-size:18px;" >Aling Nena's sari-sari store started as a small business in 1960 to provide for the education of Aling Nena's children. Aling Nena was known throughout the baranggay of San Rio as a kind, loving lady and everyone flocked to her store. Aling Nena's personality attracted customers and so the small business grew. However, in the 1980s Aling Nena became ill and eventually died. Mang Timo, her husband, vowed to keep the sari-sari store going even though her wife did all the work whilst he was in the farm. That was how the sari-sari store got its name. <br/><br/> Mang Timo was able to further grow their small sari-sari store with the help of his children. The sari-sari store now delivers goods to canteens of different schools. As of 2010, the store caters to 15 schools and is now being managed by Mang Timo and Aling Nena's youngest child, Nimo. </div>  
	<div class="col-md-6" align="center"><br /><br /><img src="store.jpg"></div>
	</body>
</html>
